---
import Layout from '../layouts/Layout.astro';
---

<Layout activeNav="about">
  <p class="text-3xl">[Your tagline here. e.g. "Builder. Currently working on something cool."]</p>
  <p class="text-2xl">
    You can find me on <a href="https://x.com/leoborges">Twitter</a> and
    <a href="https://github.com/leoborges">GitHub</a>.
  </p>
</Layout>
