---
import Layout from '../layouts/Layout.astro';
---

<Layout activeNav="about">
  <p class="text-3xl">Greetings web traveler! My name is Leo. Welcome to my digital garden — a florilegium of personal works across all things infosec, technology and life.</p>
  <p class="text-2xl">
    You can find me on <a href="https://x.com/leoborges">Twitter</a> and
    <a href="https://github.com/leoborges">GitHub</a>.
  </p>
</Layout>
